{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<h2>Standard Dies And Tools</h2>
<p>
Standard Dies And Tools was established in the year 1980 to produce wire drawing dies. Since then the company has expanded its products base. It now specializes in TC Dies for CO2/MIG wire, TC Dies for wire drawing, TC Dies for bar drawing, TC flux coating dies, straightening TC bushes and special purpose dies.
</p>
<p>
It manufactures TC Dies for all type of drawing materials such as Stainless Steel, High Carbon Steel, Low Carbon Steel, Mild Steel, Copper, Aluminum, Brass, Tungsten wires etc.
</p>
{% endblock %}
