{% extends "base.html" %}
{% set active_page = "products" %}
{% block content %}
<h2>Products</h2>
<p>
Standard Dies and Tools primarily manufactures CO2 and MIG wire dies.<br>
The company also manufactures dies for SS Wire, High carbon steel, MS Wire, TC Bushes, Flux Coating dies.<br>
<ul>
    <li>Mig wire dies</li>
    <li>High Carbon dies</li>
    <li>CO2 dies</li>
    <li>Bar drawing dies</li>
    <li>Flux coating dies</li>
    <li>Deep drawing dies</li>
    <li>Straightening T.C. bushes</li>
    <li>Extrusion dies</li>
</ul>
</p>
{% endblock %}
